// 参考链接 https://element-plus.org/zh-CN/component/color.html
:root {
  --el-color-primary: #ffb000 !important;
  --el-color-primary-light-3: #eebe77 !important;
  --el-color-primary-light-5: #f3d19e !important;
  --el-color-primary-light-7: #f8e3c5 !important;
  --el-color-primary-light-8: #faecd8 !important;
  --el-color-primary-light-9: #fdf6ec !important;
  --el-color-primary-dark-2: #b88230 !important;
  --el-fill-color-light: #fdf6ec !important;
  //   --el-fill-color-light: #f6fafb;
  --el-input-shadow-login: rgba(0, 0, 0, 0) !important;
}
