.crland-button.el-button--large.crland-button-shadow{
  box-shadow:0 21px 20px -5px var(--el-color-info-light-9);
}

.crland-button.crland-button-shadow{
  box-shadow:0 13px 12px -3px var(--el-color-info-light-9);
}

.crland-button.el-button--small.crland-button-shadow{
  box-shadow:0 9px 8px -1px var(--el-color-info-light-9);
}

// primary
.crland-button.el-button--primary.el-button--large.crland-button-shadow{
  box-shadow:0 21px 20px -5px var(--el-color-primary-light-7);
}

.crland-button.el-button--primary.crland-button-shadow{
  box-shadow:0 13px 12px -3px var(--el-color-primary-light-7);
}

.crland-button.el-button--primary.el-button--small.crland-button-shadow{
  box-shadow:0 9px 8px -1px var(--el-color-primary-light-7);
}

// success

.crland-button.el-button--success.el-button--large.crland-button-shadow{
  box-shadow:0 21px 20px -5px var(--el-color-success-light-7);
}

.crland-button.el-button--success.crland-button-shadow{
  box-shadow:0 13px 12px -3px var(--el-color-success-light-7);
}

.crland-button.el-button--success.el-button--small.crland-button-shadow{
  box-shadow:0 9px 8px -1px var(--el-color-success-light-7);
}

// info

.crland-button.el-button--info.el-button--large.crland-button-shadow{
  box-shadow:0 21px 20px -5px var(--el-color-info-light-7);
}

.crland-button.el-button--info.crland-button-shadow{
  box-shadow:0 13px 12px -3px var(--el-color-info-light-7);
}

.crland-button.el-button--info.el-button--small.crland-button-shadow{
  box-shadow:0 9px 8px -1px var(--el-color-info-light-7);
}


// warning
.crland-button.el-button--warning.el-button--large.crland-button-shadow{
  box-shadow:0 21px 20px -5px var(--el-color-warning-light-7);
}

.crland-button.el-button--warning.crland-button-shadow{
  box-shadow:0 13px 12px -3px var(--el-color-warning-light-7);
}

.crland-button.el-button--warning.el-button--small.crland-button-shadow{
  box-shadow:0 9px 8px -1px var(--el-color-warning-light-7);
}


// danger
.crland-button.el-button--danger.el-button--large.crland-button-shadow{
  box-shadow:0 21px 20px -5px var(--el-color-danger-light-7);
}

.crland-button.el-button--danger.crland-button-shadow{
  box-shadow:0 13px 12px -3px var(--el-color-danger-light-7);
}

.crland-button.el-button--danger.el-button--small.crland-button-shadow{
  box-shadow:0 9px 8px -1px var(--el-color-danger-light-7);
}