.crland-menu-pro.el-menu {
  border-right: none;
}
.crland-menu-pro {
  .menu-logo-wrap {
    padding: 0 var(--el-menu-base-level-padding);
    height: 74px;
    display: flex;
    align-items: center;
    .expand-logo {
      width: 120px;
    }
    .collapse-logo {
      width: 26px;
    }
  }

  > .el-menu-item.is-active {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0px;
      left: 0px;
      border-radius: 0px 3px 3px 0px;
      background: var(--el-color-primary);
      overflow: hidden;
    }
  }

  > .el-sub-menu.is-active {
    background-color: #f6fafb !important;
    > .el-sub-menu__title {
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 0px 3px 3px 0px;
        background: var(--el-color-primary);
        overflow: hidden;
      }
    }
    .el-menu {
      background-color: #f6fafb !important;
    }
    // .el-menu-item {
    //   //   border-bottom: 1px solid #f5f5f5 !important;
    // }
  }
  .el-menu-item {
    border-bottom: 1px solid #f5f5f5 !important;
  }

  //   .el-badge {
  //     width: 100%;
  //     height: 100%;
  //   }
  // .menu-item-bar {
  //   display: flex;
  //   align-items: center;
  //   width: 100%;
  //   height: 100%;
  //   .menu-title {
  //     width: calc(100% - 60px);
  //     /*1. 先强制一行内显示文本*/
  //     white-space: nowrap;
  //     /*2. 超出的部分隐藏*/
  //     overflow: hidden;
  //     /*3. 文字用省略号替代超出的部分*/
  //     text-overflow: ellipsis;
  //   }
  //   > * {
  //     flex-shrink: 0;
  //   }
  //   .tips-wrap {
  //     height: 0px;
  //     padding-bottom: 2px;
  //   }
  // }
}

.menu-icon {
  display: block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 4px;
}
.menu-item-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .menu-title {
    width: calc(100% - 60px);
    /*1. 先强制一行内显示文本*/
    white-space: nowrap;
    /*2. 超出的部分隐藏*/
    overflow: hidden;
    /*3. 文字用省略号替代超出的部分*/
    text-overflow: ellipsis;
  }
  > * {
    flex-shrink: 0;
  }
  .tips-wrap {
    height: 0px;
    padding-bottom: 2px;
  }
}
