.vue-treeselect__multi-value-item {
  .vue-treeselect__multi-value-label {
    color: #FFB000;
  }
  .vue-treeselect__value-remove{
    color: #FFB000;
  }
}

.vue-treeselect__checkbox-container{
    .vue-treeselect__checkbox--checked{
        border-color: #FFB000;
        background: #FFB000;
    }
    .vue-treeselect__checkbox--indeterminate{
        border-color: #FFB000;
        background: #FFB000;
    }
}

.vue-treeselect__label-container:hover .vue-treeselect__checkbox--unchecked {
    border-color: #e0e0e0;
    background: #fff;
}



.vue-treeselect__checkbox--checked, 
.vue-treeselect__checkbox--indeterminate, 
.vue-treeselect__label-container:hover 
.vue-treeselect__checkbox--checked,
 .vue-treeselect__label-container:hover .vue-treeselect__checkbox--indeterminate {
    border-color: #FFB000;
    background: #FFB000;
}

.vue-treeselect__multi-value-item {

  background: #fff;
  border-color: #e0e0e0;
}

.vue-treeselect:not(.vue-treeselect--disabled):not(.vue-treeselect--focused) .vue-treeselect__control:hover {
  border-color: #FFB000;
}

.vue-treeselect--focused:not(.vue-treeselect--open) 
.vue-treeselect__control{
  border-color:#FFB000;
}