.crland-list-wrap {
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }

    .checkout-style {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
.checkout-popover {
  .el-checkbox-group {
    .el-checkbox {
      display: flex;
      align-items: center;
    }
  }
}
