.crland-list-wrap {
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    > div {
      display: flex;
      align-items: center;
    }

    .checkout-style {
      margin-left: 15px;
      cursor: pointer;
    }
  }

  .crland-list-combined-pagination {
    padding: 30px 0px;
  }
}
.checkout-popover {
  .el-checkbox-group {
    .el-checkbox {
      display: flex;
      align-items: center;
    }
  }
}
